{% extends "base.html" %}

{% block content %}
    <h1>Every Post by Everyone Ever!</h1>
    <hr>
    
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <a href = "/blog?id={{blog['id']}}">{{blog['title']}}</a>
            <hr>
            {{blog['body']}}
            <br>
            <p>Written by <a href="/blog?user={{blog.owner_id}}">{{blog.owner.username}}</a></p>
            <hr>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}